# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# Hugging Face cache
.cache/
.huggingface/

# Output files
outputs/*.csv
outputs/*.png

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log